<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <!-- Package Definition (replaces Product in WiX v4+) -->
  <Package
    Name="BIM Kraft Tools"
    Manufacturer="Maria Simon - BIMKraft.de"
    Version="0.1.0"
    UpgradeCode="C1D2E3F4-5A6B-7C8D-9E0F-1A2B3C4D5E6F"
    Language="1033"
    Scope="perMachine"
    InstallerVersion="500"
    Compressed="true">

    <!-- Major Upgrade -->
    <MajorUpgrade
      DowngradeErrorMessage="A newer version of BIM Kraft Tools is already installed." />

    <!-- Media -->
    <MediaTemplate EmbedCab="yes" />

    <!-- Properties -->
    <Property Id="ARPURLINFOABOUT" Value="https://bimkraft.de" />
    <Property Id="ARPHELPLINK" Value="https://bimkraft.de/support" />
    <Property Id="ARPCONTACT" Value="contact@bimkraft.de" />

    <!-- Feature Definition -->
    <Feature
      Id="ProductFeature"
      Title="BIM Kraft Tools"
      Description="BIM Kraft Tools for Revit 2023-2026"
      Level="1">

      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="AddinFiles" />
    </Feature>

    <!-- UI Configuration -->
    <UI />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

  </Package>

  <!-- Directories Structure -->
  <Fragment>
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="AutodeskProgramData" Name="Autodesk">
        <Directory Id="ApplicationPlugins" Name="ApplicationPlugins">
          <Directory Id="INSTALLFOLDER" Name="BIMKraft.bundle">
            <Directory Id="ContentsFolder" Name="Contents">
              <Directory Id="Contents2023" Name="2023">
                <Directory Id="Resources2023" Name="Resources">
                  <Directory Id="Icons2023" Name="Icons" />
                </Directory>
              </Directory>
              <Directory Id="Contents2024" Name="2024">
                <Directory Id="Resources2024" Name="Resources">
                  <Directory Id="Icons2024" Name="Icons" />
                </Directory>
              </Directory>
              <Directory Id="Contents2025" Name="2025">
                <Directory Id="Resources2025" Name="Resources">
                  <Directory Id="Icons2025" Name="Icons" />
                </Directory>
              </Directory>
              <Directory Id="Contents2026" Name="2026">
                <Directory Id="Resources2026" Name="Resources">
                  <Directory Id="Icons2026" Name="Icons" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <!-- AppData for .addin files -->
    <StandardDirectory Id="AppDataFolder">
      <Directory Id="AutodeskAppData" Name="Autodesk">
        <Directory Id="RevitAppData" Name="Revit">
          <Directory Id="AddinsFolder" Name="Addins">
            <Directory Id="Addins2023" Name="2023" />
            <Directory Id="Addins2024" Name="2024" />
            <Directory Id="Addins2025" Name="2025" />
            <Directory Id="Addins2026" Name="2026" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
  </Fragment>

  <!-- Component Groups -->
  <Fragment>
    <ComponentGroup Id="ProductComponents">

      <!-- Root Bundle Files -->
      <Component Id="PackageContents" Directory="INSTALLFOLDER">
        <File Source="BIMKraft.bundle\PackageContents.xml" />
      </Component>

      <Component Id="LICENSE" Directory="INSTALLFOLDER">
        <File Source="BIMKraft.bundle\LICENSE.txt" />
      </Component>

      <!-- Revit 2023 Components -->
      <Component Id="BIMKraft2023_DLL" Directory="Contents2023">
        <File Source="BIMKraft.bundle\Contents\2023\BIMKraft.dll" />
      </Component>
      <Component Id="BIMKraft2023_Addin" Directory="Contents2023">
        <File Source="BIMKraft.bundle\Contents\2023\BIMKraft.addin" />
      </Component>
      <Component Id="BIMKraft2023_Config" Directory="Contents2023">
        <File Source="BIMKraft.bundle\Contents\2023\App.config" />
      </Component>
      <Component Id="Newtonsoft2023_DLL" Directory="Contents2023">
        <File Source="BIMKraft.bundle\Contents\2023\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Icons2023" Directory="Icons2023">
        <File Source="BIMKraft.bundle\Contents\2023\Resources\Icons\family_renamer.png" />
        <File Source="BIMKraft.bundle\Contents\2023\Resources\Icons\line_length_calculator.png" />
        <File Source="BIMKraft.bundle\Contents\2023\Resources\Icons\parameter_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2023\Resources\Icons\parameter_transfer_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2023\Resources\Icons\warnings_browser_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2023\Resources\Icons\workset_manager.png" />
      </Component>

      <!-- Revit 2024 Components -->
      <Component Id="BIMKraft2024_DLL" Directory="Contents2024">
        <File Source="BIMKraft.bundle\Contents\2024\BIMKraft.dll" />
      </Component>
      <Component Id="BIMKraft2024_Addin" Directory="Contents2024">
        <File Source="BIMKraft.bundle\Contents\2024\BIMKraft.addin" />
      </Component>
      <Component Id="BIMKraft2024_Config" Directory="Contents2024">
        <File Source="BIMKraft.bundle\Contents\2024\App.config" />
      </Component>
      <Component Id="Newtonsoft2024_DLL" Directory="Contents2024">
        <File Source="BIMKraft.bundle\Contents\2024\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Icons2024" Directory="Icons2024">
        <File Source="BIMKraft.bundle\Contents\2024\Resources\Icons\family_renamer.png" />
        <File Source="BIMKraft.bundle\Contents\2024\Resources\Icons\line_length_calculator.png" />
        <File Source="BIMKraft.bundle\Contents\2024\Resources\Icons\parameter_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2024\Resources\Icons\parameter_transfer_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2024\Resources\Icons\warnings_browser_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2024\Resources\Icons\workset_manager.png" />
      </Component>

      <!-- Revit 2025 Components -->
      <Component Id="BIMKraft2025_DLL" Directory="Contents2025">
        <File Source="BIMKraft.bundle\Contents\2025\BIMKraft.dll" />
      </Component>
      <Component Id="BIMKraft2025_Addin" Directory="Contents2025">
        <File Source="BIMKraft.bundle\Contents\2025\BIMKraft.addin" />
      </Component>
      <Component Id="BIMKraft2025_Config" Directory="Contents2025">
        <File Source="BIMKraft.bundle\Contents\2025\App.config" />
      </Component>
      <Component Id="Newtonsoft2025_DLL" Directory="Contents2025">
        <File Source="BIMKraft.bundle\Contents\2025\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Icons2025" Directory="Icons2025">
        <File Source="BIMKraft.bundle\Contents\2025\Resources\Icons\family_renamer.png" />
        <File Source="BIMKraft.bundle\Contents\2025\Resources\Icons\line_length_calculator.png" />
        <File Source="BIMKraft.bundle\Contents\2025\Resources\Icons\parameter_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2025\Resources\Icons\parameter_transfer_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2025\Resources\Icons\warnings_browser_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2025\Resources\Icons\workset_manager.png" />
      </Component>

      <!-- Revit 2026 Components -->
      <Component Id="BIMKraft2026_DLL" Directory="Contents2026">
        <File Source="BIMKraft.bundle\Contents\2026\BIMKraft.dll" />
      </Component>
      <Component Id="BIMKraft2026_Addin" Directory="Contents2026">
        <File Source="BIMKraft.bundle\Contents\2026\BIMKraft.addin" />
      </Component>
      <Component Id="BIMKraft2026_Config" Directory="Contents2026">
        <File Source="BIMKraft.bundle\Contents\2026\App.config" />
      </Component>
      <Component Id="Newtonsoft2026_DLL" Directory="Contents2026">
        <File Source="BIMKraft.bundle\Contents\2026\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Icons2026" Directory="Icons2026">
        <File Source="BIMKraft.bundle\Contents\2026\Resources\Icons\family_renamer.png" />
        <File Source="BIMKraft.bundle\Contents\2026\Resources\Icons\line_length_calculator.png" />
        <File Source="BIMKraft.bundle\Contents\2026\Resources\Icons\parameter_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2026\Resources\Icons\parameter_transfer_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2026\Resources\Icons\warnings_browser_pro.png" />
        <File Source="BIMKraft.bundle\Contents\2026\Resources\Icons\workset_manager.png" />
      </Component>

    </ComponentGroup>

    <!-- .addin File Deployment to AppData -->
    <ComponentGroup Id="AddinFiles">

      <Component Id="Addin2023" Directory="Addins2023">
        <File Source="BIMKraft.bundle\Contents\2023\BIMKraft.addin" />
      </Component>

      <Component Id="Addin2024" Directory="Addins2024">
        <File Source="BIMKraft.bundle\Contents\2024\BIMKraft.addin" />
      </Component>

      <Component Id="Addin2025" Directory="Addins2025">
        <File Source="BIMKraft.bundle\Contents\2025\BIMKraft.addin" />
      </Component>

      <Component Id="Addin2026" Directory="Addins2026">
        <File Source="BIMKraft.bundle\Contents\2026\BIMKraft.addin" />
      </Component>

    </ComponentGroup>
  </Fragment>

</Wix>
